.green {
    background-color: #7AE969;
}

.red {
    background-color: #FC717B;
}

.redRed {
    background-color: #A4252E;
}

.orange {
    background-color: #FFAE73;
}

.space {
    margin-left: 20px;
}

.noField {
    background-color: #5EC4CD;
}
