<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = "${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type = "text/css" href="css/st.css"/>
</head>
<body>
    <p>Lol</p>

    <div id = "twoColumns">
        <div class = "rightColumn">
            <p th:text = "'service-short-name: ' + ${file1.get('services').get(0).get('service-short-name')}"/>
            <p th:text = "'service_name: ' + ${file1.get('services').get(0).get('service_name')}"/>
            <p th:text = "'artifact_type: ' + ${file1.get('services').get(0).get('artifact_type')}"/>
            <p th:text = "'docker_registry: ' + ${file1.get('services').get(0).get('docker_registry')}"/>
        </div>
        <div class = "leftColumn">
            <p th:text = "'service-short-name: ' + ${file2.get('services').get(0).get('service-short-name')}"/>
            <p th:text = "'service_name: ' + ${file2.get('services').get(0).get('service_name')}"/>
            <p th:text = "'artifact_type: ' + ${file2.get('services').get(0).get('artifact_type')}"/>
            <p th:text = "'docker_registry: ' + ${file2.get('services').get(0).get('docker_registry')}"/>
        </div>
    </div>




</body>
</html>