<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "css/st.css" rel="stylesheet" type = "text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title th:text = "${title}"></title>
</head>
<body>
    <div class="row justify-content-center">
        <div class="row">

            <!--left column-->
            <div class="col-lg-6 col-md-6">
                <h3>Json file #1</h3>

                <!--check structure and extension file-->
                <th:block th:each = "resCom : ${result}" th:if = "${resCom.key == 1 and resCom.value == WRONGSTRUCTURE}">
                    <h5>Your file has incorrect structure or incorrect extension! Please check your file!</h5>
                </th:block>

                <!--check equal files-->
                <th:block th:each = "resCom : ${result}" th:if = "${resCom.key != 1 and resCom.key == node1.hashCode() and resCom.value == EQUAL}">
                    <th:block th:each = "node : ${node1.fieldNames()}">
                        <!--metadata-->
                        <div th:if = "${node == 'metadata'}" >"metadata": {
                            <div th:each = "field : ${node1.get('metadata').fields()}">
                                <p class = "space" th:text = "${field}"/>
                            </div>
                        }</div>

                        <!--services-->
                        <div th:if = "${node == 'services'}" th:each = "topObj : ${node1.get('services')}">"services": [
                            <div>{
                                <div th:each = "field : ${topObj.fields()}">
                                    <p class = "space" th:if = "${field.getKey() != 'hashes'}" th:text = "${field}"/>
                                    <div class = "space" th:if = "${field.getKey() == 'hashes'}" >"hashes": {
                                        <p class = "space" th:each = "fieldHash : ${field.getValue().fields()}" th:text = "${fieldHash}"/>
                                    }</div>
                                </div>
                            }</div>
                        ]</div>

                        <!--artifacts-->
                        <div th:if = "${node == 'artifacts'}" >"artifacts": [

                            <th:block th:each = "topObj : ${node1.get('artifacts')}">
                                <!--mvn-->
                                <div class = "space" th:if = "${topObj.get('mvn') != null}">{"mvn": [

                                    <div class = "space" th:each = "elementMvn : ${topObj.get('mvn')}">{

                                        <div th:each = "field : ${elementMvn.fields()}">
                                            <p th:if = "${field.getKey() != 'hashes'}" th:text = "${field}"/>

                                            <div class = "space" th:if = "${field.getKey() == 'hashes'}" >"hashes": {
                                                <p class = "space" th:each = "fieldHash : ${field.getValue().fields()}" th:text = "${fieldHash}"/>
                                            }</div>
                                        </div>

                                    }</div>

                                ]</div>

                                <!--target_repository-->
                                <div class = "space" th:each = "fieldTopObj : ${topObj.fields()}" th:if = "${topObj.get('mvn') != null and fieldTopObj.getKey() == 'target_repository'}">
                                    <p class = "space" th:text = "${fieldTopObj}"/>
                                }</div>

                                <!--top objects of the artifacts-->
                                <div class = "space" th:if = "${topObj.get('mvn') == null}">{

                                    <div  th:each = "fieldTopObj : ${topObj.fields()}">
                                        <p class = "space" th:if = "${fieldTopObj.getKey() != 'hashes' and fieldTopObj.getKey() != 'file'}" th:text = "${fieldTopObj}"/>

                                        <div class = "space" th:if = "${fieldTopObj.getKey() == 'hashes'}" >"hashes": {
                                            <p class = "space" th:each = "fieldHash : ${fieldTopObj.getValue().fields()}" th:text = "${fieldHash}"/>
                                        }</div>

                                        <div class = "space" th:if = "${fieldTopObj.getKey() == 'file'}" >"file": [
                                            <p class = "space" th:each = "fileFile : ${fieldTopObj.getValue()}" th:text = "${fileFile}"/>
                                        ]</div>
                                    </div>

                                }</div>

                            </th:block>
                        ]</div>

                        <!--script-->
                        <div th:if = "${node == 'script'}">"script": [
                            <div class = "space" th:each = "topObj : ${node1.get('script')}">{
                                <div th:each = "fieldTopObj : ${topObj.fields()}">
                                    <p class = "space" th:if = "${fieldTopObj.getKey() != 'hashes'}" th:text = "${fieldTopObj}"/>

                                    <div class = "space" th:if = "${fieldTopObj.getKey() == 'hashes'}" >"hashes": {
                                        <p class = "space" th:each = "fieldHash : ${fieldTopObj.getValue().fields()}" th:text = "${fieldHash}"/>
                                    }</div>
                                </div>
                            }</div>
                        ]</div>

                        <!--rpm-->
                        <div th:if = "${node == 'rpm'}">"rpm": {

                            <div th:each = "field : ${node1.get('rpm').fields()}">
                                <p class = "space" th:if = "${field.getKey() != 'hashes'}" th:text = "${field}"/>

                                <div class = "space" th:if = "${field.getKey() == 'hashes'}" >"hashes": {
                                    <p class = "space" th:each = "fieldHash : ${field.getValue().fields()}" th:text = "${fieldHash}"/>
                                }</div>
                            </div>

                        }</div>

                        <!--parameters-->
                        <div th:if = "${node == 'parameters'}">"parameters": {
                            <div th:each = "field : ${node1.get('parameters').fields()}">

                                <div class = "space" th:if = "${field.getKey() == 'common'}">"common": {
                                    <div th:each = "fieldCommon : ${field.getValue().fields()}">
                                        <p class = "space" th:text = "${fieldCommon}"/>
                                    </div>
                                }</div>

                                <div class = "space" th:if = "${field.getKey() == 'services'}">"services": {
                                    <div th:each = "fieldServices : ${field.getValue().fields()}">
                                        <p class = "space" th:text = "${fieldServices}"/>
                                    </div>
                                }</div>
                            </div>
                        }</div>


                    </th:block>
                </th:block>

                <!--check metadata-->
                <div th:each = "resCom : ${result}" th:if = "${ resCom.key != 1 and resCom.key == node1.hashCode() and resCom.value == NOTEQUAL}">"metadata": {

                    <th:block th:each = "resCom : ${result}" th:if = "${resCom.key == node1.get('metadata').hashCode() and resCom.value == EQUAL}">
                        <div th:each = "field : ${node1.get('metadata').fields()}">
                            <p class = "space" th:text = "${field.getKey()} + ':' + ${field.getValue()}"/>
                        </div>
                    </th:block>

                    <th:block th:each = "field : ${node1.get('metadata').fields()}">

                        <div th:each = "resCom : ${result}" th:if = "${field.getValue().hashCode() == resCom.key and resCom.value == NOTEQUAL}">
                            <p class = "orange space" th:text = "${field.getKey()} + ':' + ${field.getValue()}"/>
                        </div>

                        <div th:each = "resCom : ${result}" th:if = "${field.getValue().hashCode() == resCom.key and resCom.value == EQUAL}">
                            <p class = "space" th:text = "${field.getKey()} + ':' + ${field.getValue()}"/>
                        </div>

                    </th:block>
                }</div><br/>

                <!--check services-->
                <label th:each = "resCom : ${result}" th:if = "${resCom.key != 1 and resCom.key == node1.get('services').hashCode() and resCom.value == NOTEQUAL}">"services": [

                    <th:block th:each = "service : ${node1.get('services')}">

                        <div th:each = "resCom : ${result}" th:if = "${resCom.getKey() == service.hashCode() and resCom.getValue() == NOTEQUAL}">
                            <th:block th:each = "field : ${service.fields()}">
                                <p class = "red" th:text = "${field}"/>
                            </th:block>
                        </div><br/>

                        <div th:each = "resCom : ${result}" th:if = "${resCom.getKey() == service.hashCode() and resCom.getValue() == EQUAL}">
                            <th:block th:each = "field : ${service.fields()}">
                                <p th:text = "${field}"/>
                            </th:block>
                        </div><br/>

                    </th:block>

                ]</label>

                <th:block th:each = "resCom : ${result}" th:if = "${resCom.key != 1 and resCom.key == node1.get('services').hashCode() and resCom.value == EQUAL}">
                    <div th:each = "service : ${node1.get('services')}">
                        <p th:text = "${service}"/>
                    </div>
                </th:block>


            </div>


            <!--right column-->
            <div class="col-lg-6 col-md-6">
                <h3>Json file #2</h3>
                <!--check structure and extension file-->
                <th:block th:each = "resCom : ${result}" th:if = "${resCom.key == 1 and resCom.value == WRONGSTRUCTURE}">
                    <h5>Your file has incorrect structure or incorrect extension! Please check your file!</h5>
                </th:block>

                <!--check equal files-->
                <th:block th:each = "resCom : ${result}" th:if = "${resCom.key != 1 and resCom.key == node1.hashCode() and resCom.value == EQUAL}">
                    <th:block th:each = "node : ${node2.fieldNames()}">
                        <!--metadata-->
                        <div th:if = "${node == 'metadata'}" >"metadata": {
                            <div th:each = "field : ${node2.get('metadata').fields()}">
                                <p class = "space" th:text = "${field}"/>
                            </div>
                        }</div>

                        <!--services-->
                        <div th:if = "${node == 'services'}" th:each = "topObj : ${node2.get('services')}">"services": [
                            <div>{
                                <div th:each = "field : ${topObj.fields()}">
                                    <p class = "space" th:if = "${field.getKey() != 'hashes'}" th:text = "${field}"/>
                                    <div class = "space" th:if = "${field.getKey() == 'hashes'}" >"hashes": {
                                        <p class = "space" th:each = "fieldHash : ${field.getValue().fields()}" th:text = "${fieldHash}"/>
                                    }</div>
                                </div>
                            }</div>
                        ]</div>

                        <!--artifacts-->
                        <div th:if = "${node == 'artifacts'}" >"artifacts": [

                            <th:block th:each = "topObj : ${node2.get('artifacts')}">
                                <!--mvn-->
                                <div class = "space" th:if = "${topObj.get('mvn') != null}">{"mvn": [

                                    <div class = "space" th:each = "elementMvn : ${topObj.get('mvn')}">{

                                        <div th:each = "field : ${elementMvn.fields()}">
                                            <p th:if = "${field.getKey() != 'hashes'}" th:text = "${field}"/>

                                            <div class = "space" th:if = "${field.getKey() == 'hashes'}" >"hashes": {
                                                <p class = "space" th:each = "fieldHash : ${field.getValue().fields()}" th:text = "${fieldHash}"/>
                                            }</div>
                                        </div>

                                    }</div>

                                ]</div>

                                <!--target_repository-->
                                <div class = "space" th:each = "fieldTopObj : ${topObj.fields()}" th:if = "${topObj.get('mvn') != null and fieldTopObj.getKey() == 'target_repository'}">
                                    <p class = "space" th:text = "${fieldTopObj}"/>
                                }</div>

                                <!--top objects of the artifacts-->
                                <div class = "space" th:if = "${topObj.get('mvn') == null}">{

                                    <div  th:each = "fieldTopObj : ${topObj.fields()}">
                                        <p class = "space" th:if = "${fieldTopObj.getKey() != 'hashes' and fieldTopObj.getKey() != 'file'}" th:text = "${fieldTopObj}"/>

                                        <div class = "space" th:if = "${fieldTopObj.getKey() == 'hashes'}" >"hashes": {
                                            <p class = "space" th:each = "fieldHash : ${fieldTopObj.getValue().fields()}" th:text = "${fieldHash}"/>
                                        }</div>

                                        <div class = "space" th:if = "${fieldTopObj.getKey() == 'file'}" >"file": [
                                            <p class = "space" th:each = "fileFile : ${fieldTopObj.getValue()}" th:text = "${fileFile}"/>
                                        ]</div>
                                    </div>

                                }</div>

                            </th:block>
                        ]</div>

                        <!--script-->
                        <div th:if = "${node == 'script'}">"script": [
                            <div class = "space" th:each = "topObj : ${node2.get('script')}">{
                                <div th:each = "fieldTopObj : ${topObj.fields()}">
                                    <p class = "space" th:if = "${fieldTopObj.getKey() != 'hashes'}" th:text = "${fieldTopObj}"/>

                                    <div class = "space" th:if = "${fieldTopObj.getKey() == 'hashes'}" >"hashes": {
                                        <p class = "space" th:each = "fieldHash : ${fieldTopObj.getValue().fields()}" th:text = "${fieldHash}"/>
                                    }</div>
                                </div>
                            }</div>
                        ]</div>

                        <!--rpm-->
                        <div th:if = "${node == 'rpm'}">"rpm": {

                            <div th:each = "field : ${node2.get('rpm').fields()}">
                                <p class = "space" th:if = "${field.getKey() != 'hashes'}" th:text = "${field}"/>

                                <div class = "space" th:if = "${field.getKey() == 'hashes'}" >"hashes": {
                                    <p class = "space" th:each = "fieldHash : ${field.getValue().fields()}" th:text = "${fieldHash}"/>
                                }</div>
                            </div>

                        }</div>

                        <!--parameters-->
                        <div th:if = "${node == 'parameters'}">"parameters": {
                            <div th:each = "field : ${node2.get('parameters').fields()}">

                                <div class = "space" th:if = "${field.getKey() == 'common'}">"common": {
                                    <div th:each = "fieldCommon : ${field.getValue().fields()}">
                                        <p class = "space" th:text = "${fieldCommon}"/>
                                    </div>
                                    }</div>

                                <div class = "space" th:if = "${field.getKey() == 'services'}">"services": {
                                    <div th:each = "fieldServices : ${field.getValue().fields()}">
                                        <p class = "space" th:text = "${fieldServices}"/>
                                    </div>
                                    }</div>
                            </div>
                            }</div>

                    </th:block>
                </th:block>

                <!--check metadata-->
                <label th:each = "resCom : ${result}" th:if = "${resCom.key != 1 and resCom.key == node2.hashCode() and resCom.value == NOTEQUAL}">"metadata": {

                    <th:block th:each = "resCom : ${result}" th:if = "${resCom.key == node1.get('metadata').hashCode() and resCom.value == EQUAL}">
                        <div th:each = "field : ${node2.get('metadata').fields()}">
                            <p class = "space" th:text = "${field.getKey()} + ':' + ${field.getValue()}"/>
                        </div>
                    </th:block>

                    <th:block th:each = "field : ${node2.get('metadata').fields()}">

                        <div th:each = "resCom : ${result}" th:if = "${field.getValue().hashCode() == resCom.key and resCom.value == NOTEQUAL}">
                            <p class = "orange space" th:text = "${field.getKey()} + ':' + ${field.getValue()}"/>
                        </div>

                        <div th:each = "resCom : ${result}" th:if = "${field.getValue().hashCode() == resCom.key and resCom.value == EQUAL}">
                            <p class = "space" th:text = "${field.getKey()} + ':' + ${field.getValue()}"/>
                        </div>

                    </th:block>
                }</label><br/>

                <!--check services-->
                <label th:each = "resCom : ${result}" th:if = "${resCom.key != 1 and resCom.key == node2.get('services').hashCode() and resCom.value == NOTEQUAL}">"services": [

                    <th:block th:each = "service : ${node2.get('services')}">

                        <div th:each = "resCom : ${result}" th:if = "${resCom.getKey() == service.hashCode() and resCom.getValue() == NOTEQUAL}">
                            <th:block th:each = "field : ${service.fields()}">
                                <p class = "red" th:text = "${field}"/>
                            </th:block>
                        </div><br/>

                        <div th:each = "resCom : ${result}" th:if = "${resCom.getKey() == service.hashCode() and resCom.getValue() == EQUAL}">
                            <th:block th:each = "field : ${service.fields()}">
                                <p th:text = "${field}"/>
                            </th:block>
                        </div><br/>
                    </th:block>

                ]</label>

                <th:block th:each = "resCom : ${result}" th:if = "${resCom.key != 1 and resCom.key == node1.get('services').hashCode() and resCom.value == EQUAL}">
                    <div th:each = "service: ${node2.get('services')}">
                        <p th:text = "${service}"/>
                    </div>
                </th:block>

            </div>

        </div>
    </div>
</body>
</html>