<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type = "text/css" href="css/st.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title th:text = "${title}"></title>
</head>
<body>
<div class="row justify-content-center">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h3>Json file #1</h3>
            <th:block th:each = "enum : ${enumRes}" th:if = "${result.get('nodes') == enum}">
                <div th:each = "filetest : ${node1}">
                    <p th:text = ${filetest}/>
                </div>
            </th:block>

            <th:block th:each = "enum : ${enumRes}" th:if = "${result.get('extension') == enum}">
                <h5>Your file has incorrect extension!</h5>
            </th:block>

            <th:block th:each = "enum : ${enumRes}" th:if = "${result.get('validFile') == enum}">
                <h5>Your file has incorrect structure!Please check your file!</h5>
            </th:block>

            <div th:each = "t : ${result}">
                <p th:text = "${t.value}"/>
            </div>


        </div>

        <div class="col-lg-6 col-md-6">
            <h3>Json file #2</h3>
            <th:block th:each = "enum : ${enumRes}" th:if = "${result.get('nodes') == enum}">
                <div th:each = "filetest : ${node2}">
                    <p th:text = ${filetest}/>
                </div>
            </th:block>

            <th:block th:each = "enum : ${enumRes}" th:if = "${result.get('extension') == enum}">
                <h5>Your file has incorrect extension!</h5>
            </th:block>

            <th:block th:each = "enum : ${enumRes}" th:if = "${result.get('validFile') == enum}">
                <h5>Your file has incorrect structure!Please check your file!</h5>
            </th:block>


        </div>
    </div>
</div>
</body>
</html>